
html, body {
    background: #5C258D;
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    background: linear-gradient(to right, #4389A2, #5C258D);
    margin: 0;
  }
  
  .frame {
      text-align: center;
      background-color: white;
      width: 30%;
      min-width: 280px;
      padding: 50px;
  }

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  hr {
      display: inline-block;
      margin: 25px 0 25px 0;
      width: 100px;
     border:none;
     border-top: solid grey 8px;
  }

  #citation {
    font-size: 2.2em;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-family: 'Cookie', cursive;
  }
  
  #citation:before {
      content: open-quote;
  }
  
  #citation:after {
      content: close-quote;
  }
  
  #auteur {
    font-size: 1.2em;
    margin-bottom: 35px; 
  }
  
  #nouveau {
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

  footer {
    font-family: 'Open Sans', sans-serif;
font-size: 0.8em;
text-align: center;
color: white;
padding: 10px;
background: black;
  }


  @media all and (max-width: 900px) {
    .frame {
      width: 50%;
    }
  }